<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>{{ siteName }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&amp;family=Roboto&amp;display=swap" rel="stylesheet">
    <link href="assets/css/output.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://kit.fontawesome.com/20ff1cbcf1.js" crossorigin="anonymous"></script>
    <script src="assets/js/scripts.js"></script>
</head>
<body>
    <div class="p-10">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>